@using DemiplaneTemplate.ViewModels
@model RollerViewModel

@{
    ViewData["Title"] = "Roller";
}


<div class="contianer">
    <h1 class="center-text text-center">Keep rollin', rollin', rollin', rollin' (come on!)</h1>
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Standard</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var roller in Model.RollerNames)
                {
                    <button class="dropdown-item">@roller</button>
                }
            </div>
        </div>
    </div>

    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d4-button">Roll D4</button>
        <h3 class="mx-2" id="d4-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d6-button">Roll D6</button>
        <h3 class="mx-2" id="d6-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d8-button">Roll D8</button>
        <h3 class="mx-2" id="d8-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d10-button">Roll D10</button>
        <h3 class="mx-2" id="d10-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d12-button">Roll D12</button>
        <h3 class="mx-2" id="d12-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d20-button">Roll D20</button>
        <h3 class="mx-2" id="d20-result"></h3>
    </div>
    <div class="row my-2">
        <button type="button" class="btn btn-primary" id="roll-d100-button">Roll D100</button>
        <h3 class="mx-2" id="d100-result"></h3>
    </div>
</div>

